{% extends "base.html" %}
{% block content %}
  <h1>Азъ, бѹкы, вѣдѣ, глаголь, добро, ѥсть!</h1>
  <p>Есть более разумные способы поздороваться, но кто не любит эзотерику! Здесь я&nbsp;показываю свой шаблон.</p>
  <h2>Есть ли жизнь без Бутстрапа?</h2>
  <p>Есть. Прекрасная, легковесная, масштабируемая и какая-угодно жизнь протекает в тех странах, где особо ценится умение расставлять фигурные скобки да точки с запятыми разного толка гуманитариями, чтобы было красиво внутри браузера и страшно внутри тех скобок.</p>
  <p>Для справки, эта страница была сгенерирована в:</p>
  <pre>{{ date }}</pre>
  <h2>А что меню?</h2>
  <p>Ну, так получилось. Алгоритмы и структуры данных &mdash; это ж вам, в конце концов, не менюшку сверстать. Тут думать надо, а с этим у всех, в общем-то, довольно туго. Вот и нагородилось тут всяких страшных вещей, но это всё пустяки. Работает же! 
{% endblock %}
